/* Fonts from fonts.css file */
@import url(./font.css);

/* Css variables */
@import url(./partials/variable.css);

/* Css Global */
@import url(./partials/_global.css);

body {
    background: #fff;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

header {
    background: #fff;
    width: 100%;
}

#nav-item {
    color: #f8f9fa;
}

#nav-item-active {
    color: #f8f9fa;
}

#nav-item1 {
    color: var(--primary-color);
}

.navigation {
    border-bottom-left-radius: 1%;
    border-bottom-right-radius: 1%;
    box-shadow: var(--box-shadow1);
}

.navbar-brand img {
    margin-left: 150%;
    width: 70px;
}

.nav-item .nav-link {
    margin-right: 60px;
    font-size: 20px;
    padding: 3px 3px;
    transition: all .5s;
}

.nav-item1 .nav-link1 {
    margin-right: 2px;
    font-size: 19px;
    padding: 3px 3px;
    transition: all .5s;
}

.nav-item2 .nav-link2 {
    margin-right: 100px;
    font-size: 19px;
    padding: 3px 3px;
    transition: all .5s;
}

.nav-brand {
    font-size: 20px;
    margin-left: 8%;
}

#nav-item:hover,
#nav-item-active:hover {
    transform: scale(1,1);
    color: var(--primary-color);
}

#nav-item1:hover,
#nav-item-active1:hover {
    transform: scale(1,1);
    color: var(--primary-color);
}

.br {
    border-right: 1px solid var(--primary-color);
}

#custom-bg {
    width: 110%;
    border: none;
    background: transparent;
}

.custom-bg {
    width: 60%;
    margin-left: 20%;
}

.header-content {
    margin-top: 50px !important;
    padding-bottom: 200px;
}

.text-title {
    font-family: var(--Poppins-bold);
    font-size: 59px;
    font-weight: 400;
    width: 1024px;
}

.text-title1 {
    font-family: var(--Poppins-bold);
    font-size: 23px;
    font-weight: 500;
}

.header-btn {
    border: 0px solid var(--primary-color3);
    border-radius: 5px;
    padding: 10px;
    width: 50%;
    transition: all .5s;
    background: var(--primary-color3);
    color: #f8f9fa;
}

.bus-btn {
    margin-top: -4%;
}

.header-btn1 {
    border: 0px solid #fff;
    border-radius: 5px;
    padding: 10px;
    width: 50%;
    transition: all .5s;
    color: var(--primary-color2);
    background: #fff;
}

.header-btn2 {
    border: 0px solid #fff;
    border-radius: 5px;
    padding: 10px;
    width: 15%;
    transition: all .5s;
    color: var(--primary-color2);
    background: #fff;
}

.header-btn4 {
    border: 0px solid #fff;
    border-radius: 5px;
    padding: 10px;
    width: 25%;
    transition: all .5s;
    color: #f8f9fa;
    background: var(--primary-color3);
}

.header-btn5 {
    border: 0px solid var(--primary-color2);
    border-radius: 5px;
    padding: 10px;
    width: 50%;
    transition: all .5s;
    background: var(--primary-color2);
    color: #f8f9fa;
}

.header-btn6 {
    border: 0px solid var(--primary-color2);
    border-radius: 5px;
    padding: 10px;
    width: 20%;
    transition: all .5s;
    background: var(--primary-color2);
    color: #f8f9fa;
}

.header-btn7 {
    border: 0px solid var(--primary-color2);
    border-radius: 5px;
    padding: 10px;
    width: 70%;
    margin-left:40px;
    transition: all .5s;
    background: var(--primary-color2);
    color: #f8f9fa;
}

.header-btn5:hover, .header-btn6:hover, .header-btn7:hover {
    transform: scale(1, 1);
    background: #f8f9fa;
    text-decoration: none;
    color: #6f6f6f;
    border: #f8f9fa;
}

.header-btn1:hover {
    transform: scale(1, 1);
    background: #f8f9fa;
    text-decoration: none;
    color: #6f6f6f;
    border: #f8f9fa;
}

.header-btn2:hover,
.header-btn4:hover {
    transform: scale(1, 1);
    background: #f8f9fa;
    text-decoration: none;
    color: #6f6f6f;
    border: #f8f9fa;
}
.header-btn3 {
    border: 0px solid var(--primary-color3);
    border-radius: 5px;
    padding: 10px;
    width: 10%;
    transition: all .5s;
    background: var(--primary-color3);
    color: #f8f9fa;
}

.header-btn3:hover {
    transform: scale(1, 1);
    background: #f8f9fa;
    text-decoration: none;
    color: #6f6f6f;
    border: #f8f9fa;
}

.header-btn:hover {
    transform: scale(1, 1);
    background: #f8f9fa;
    text-decoration: none;
    color: #6f6f6f;
    border: #f8f9fa;
}

.button {
    margin-left: 35%;
}

hr {
    border: 1px solid #fff;
    margin-left: 25%;
    margin-top: -0.3%;
    width: 50%;
}

.header-content p {
    padding: 5px 30px 0 5px;
}

.main-menu {
    background: var(--primary-color2);
}

.background {
    background: url(../img/ozone-section-1.JPG) no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    color: #fff;
}

.background1 {
    background: url(../img/ozone-section-2.JPG) no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    color: #fff;
}

.unlimited-data-sec {
    padding: 120px 120px;
    float: right;
}

.shop-sec {
    margin-top: 200px;
    margin-left: 100px;
}

.data-sec {
    margin-top: 10%;
}

.data-para {
    color: var(--primary-color2);
}

.para {
    font-size: 30px;
    font-weight: lighter;
}
.icon{
    margin-left: 43%;
    background:var(--primary-color2);
    width: 10%;
    padding-top: 5px;
    padding-right: 30px;
    padding-left: 10px;
    padding-bottom: 5px;
    font-size: 20px;
    border-radius: 20px 20px 20px;
}
.search{
    color: var(--primary-color2);
}
.package-center{
    background:var(--primary-color3);
    padding-bottom: 30px;
}
footer {
    width: 100%;
    display: block;
    background: var(--primary-color);
}
.contact-us{
    color: #f8f9fa;
}
.links{
    color: #f8f9fa;
}
#useful-links{
    list-style-type: none;
    margin-left: -35px;
}
#useful{
    transition: all .5s;
    color: #f8f9fa;
}
#useful:hover, #info:hover{
    transform: scale(1,1);
    color: var(--primary-color3);
}
.social{
    color: #f8f9fa;
}
.social-icons a {
    font-size: 2.5em;
    padding: 0.3rem;
}
.about-para{
    font-size: 23px;
    color: #6f6f6f;
}

.about-para1{
    font-size: 20px;
    color: #6f6f6f;
}
.vision{
    background: var(--primary-color2);
    box-shadow: var(--box-shadow);
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    color:#fff;
    margin-bottom: 50px;
    margin-top: 50px;
}
#vision{
    font-weight: 700;
    margin-left: 10%;
}
.vision-para{
    margin-top: 5%;
    margin-left: 10%;
    font-size: 20px;
    color: #fff;
    font-family: var(--poppins);
}
.header-content3 {
    color: var(--primary-color3);
}
.step-title{
    font-weight: 700;
}
section.services-area-service{
    background: #E8E3E3;
}
.closing-area{
    background: #E8E3E3;
}
.background3 {
    background: url(../img/services-hero.png) no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.form-control{
    border: 1px solid var(--primary-color2);
}
.info{
    list-style-type: none;
  
}
#info{
    transition: all .5s;
    margin-top: 20px;
    font-size: 20px;
    color:#6f6f6f;
}
.contact-info{
    margin-left: 150px;
}
#contact-info{
    margin-left: 70px;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 90%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: var(--primary-color);
  }
  .popup .content {
    max-height: 30%;
  }
  
 